
*{
    padding:0;
    margin:0;
}

body {
    --neutral200:#E5E7EB;
    --neutral300: #D1D5DB;
    --neutral400: #9CA3AF;
    --neutral500:#6B7280;
    --neutral600:#4B5563;
    --neutral900: #111827;

    --primary600:#7C3AED;

    --white: #FFFFFF;

    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.root {
    color: var(--neutral900);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    color: var(--white);
}

.header-nav {
    display: flex;
    padding: 64px 80px 32px 80px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: var(--neutral900);
}

.header-content {
    display: flex;
    padding: 96px 80px;
    align-self: stretch;
    background: var(--neutral900);
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.header-logonav {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-logomark {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    background: url(./Logo.png);
    background-size: contain;
}

.header-navigation {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.header-link {
    color: var(--white);
}

.nav-start{
    color: var(--neutral400);
}

.description {
    color: var(--neutral300);
}

.container{
display: flex;
padding: 96px 80px;
flex-direction: column;
align-items: flex-start;
gap: 128px;
align-self: stretch;
}

.section-about{
display: flex;
width: 720px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}

.section-description{
    color: var(--neutral600);
}

.section-link{
    display: flex;
    align-items: center;
    gap: 16px;
}

.divider {
    height: 18px;
}

.section-feedback{
    width: 720px;
    
}

.section-feedback-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border: 4px solid var(--primary600);
    padding: 24px;
}

.section-feedback-screenshot{
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 400px;
}

.actions{
    display: flex;
    gap: 8px;
}

.footer{
    display: flex;
    padding: 40px 80px 80px 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;
}

.hr{
    width: 100%;
    color:var(--neutral900);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

a {
    color: var(--primary600);
}

.logotype{
    width: 128px;
    height: 32px;
}

.copyright{
    color:var(--neutral500);
}